

$default_red: #dc4041; //#C52323;
// $primary_color: #d82323; //#d55b5b;
$secondary_color: #d82323; //#7f0707; //#690c10; //#be1e24; //#680404;

// background-image: linear-gradient( 177.7deg,  rgba(127,7,7,1) 3.3%, rgba(216,35,35,1) 93.8% );
/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

img { max-width: 100%; }

a {
	color: #404040;
	font: 400 12px "Poppins", helevetica;
	text-decoration: none;
	cursor: pointer !important;
}

a:hover { color: #404040 }
a:focus { outline: 0; }

a:hover,
a:active { outline: 0; }

input:focus {
	outline: 0;
	border: 1px solid #04A4CC;
}

/* Set transition speed for any & all links */
a, a:hover, a:active, a:focus {
	-webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.btn, button {
	display: inline-block;
	font: 600 12px "Poppins", "Helvetica Neue", helvetica, arial, sans-serif !important;
    margin: 0;
	padding: 7px 15px !important;
    letter-spacing: 0.1em;
    color: #FFF;
	background-color: $default_red;
	// background: linear-gradient(to right, $$default_red, $secondary_color);
    border-radius: 0 !important;
    cursor: pointer !important;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px !important;
	// min-width: 150px;
	// text-transform: uppercase;

    transform: translateY(0px);
    // box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    transition: all .1s linear;

    // disables highlighting on buttons
    -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.btn:hover, button:hover {
	color: #FFF !important;
	background: $secondary_color;

	transition: all .1s linear;
	/* Lift animation */
	/*transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08); */
}

.btn:active, button:active {
	/* click animation */
	/*transform: translateY(0.5px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .03); */
    transition: all .1s linear;
}

.btn-small {
	font-size: 11px !important;
	line-height: 13px !important;
	padding: 8px 13px !important;
}

.btn-inverted {
	color: #333;
	background-color: #FFF;
}

.btn-inverted:hover {
	color: $default_red;
	background-color: #FFF;
}


@media only screen and (max-width: 768px) {
	.btn, button {
		font-size: 10px !important;
		padding: 10px 15px;
	}
}





// .gradient-text-color {
// 	// background: -webkit-gradient(linear, left top, right top, from($$default_red),to($secondary_color));
// 	// background: linear-gradient(to right, $$default_red, $secondary_color);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	-webkit-box-decoration-break: clone;
// 	box-decoration-break: clone;
// 	text-shadow: none;
// }

.add-box-shadow {
	-webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}












::-webkit-scrollbar {
	width: 9px; /* 1px wider than Lion. Also, this is more usable for users trying to click it. */
	background-color: #f7f7f7; /*rgba(45, 45, 45, 0.2);*/
	// -webkit-border-radius: 1px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
/*::-webkit-scrollbar:hover { background-color: rgba(0, 0, 0, 0); }*/
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	-webkit-border-radius: 0px;

	background-clip: padding-box;
	background-color: #333;
	background: $default_red;
	min-height: 9px; /*Prevent it from getting too small */
	border: none;
}

::-webkit-scrollbar-thumb:vertical:active {
	// border: 1px solid #333;
	background-color: #333;
	background: $default_red;
}







/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
}

html { background-color: unset; }


body {
	margin: 0;

	p,
	a,
	span {
		font-size: 13px;
	}

	.section {
		> .inner {
			max-width: 1200px;
			width: 95%;
			display: flex;
			flex-flow: column;
			padding: 0;
			margin: 0 auto;
		}
	}
}



main {
	// margin: 102px 0 0 0; //110px 0 0 0;
	margin: 0 0 0 0;
	position: relative;

	main {
		min-height: calc((100vh - 75px) - 325px);
	}
}

@media only screen and (max-width: 700px) {
	main {
		/*margin: 65px 0 0 0;*/
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
	clear: both;
	line-height: 1.4;
	margin: 0 0 0.75em;
	padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

h2 {
	color: #666;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
}

h3 {
	color: #333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
}

h4 {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #767676;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

p {
	font: 400 12px "Poppins", helevetica;
	margin: 0 0 10px;
	padding: 0;
	letter-spacing: 0.03em;
	line-height: 21px;

	@media only screen and (max-width: 500px) {
		font-size: 11px;
	}
}

dfn, cite, em, i { font-style: italic; }

blockquote {
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}


pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

blockquote { quotes: "" ""; }
q { quotes: "“" "”" "‘" "’"; }
blockquote:before, blockquote:after { content: ""; }
:focus { outline: none; }




/*--------------------------------------------------------------
2.0 Forms
--------------------------------------------------------------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset { margin-bottom: 1em; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #DDD;
	/*-webkit-border-radius: 3px;
	border-radius: 3px;*/
	display: block;
	padding: 0.5em 10px;
	width: 100%;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border-color: #AAA;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	// background: #767676;
	background: $default_red;
	color: #FFF;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
}


.hidden { display: none !important; }

// adds parallax scrolling
body > main > .header {
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
	
	#page-header-img {
		position: absolute;
		left: 0;
		min-height: 250px;
		min-width: 100%;
		z-index: -1;
	}

	@media (max-width: 769px) {
		height: 175px;

		#page-header-img {
			min-height: 175px;
		}
	}
}

#bottom-description {
	padding: 50px 0;

	.inner {
		h3.title {
			font-size: 2em;
    		font-weight: 600;
			margin: 0 0 10px 0;
		}

		> div.body {
			font-size: 13px;
    		font-weight: 400;
		}
	}
}



/*--------------------------------------------------------------
3.0 Navigation
--------------------------------------------------------------*/

// disables highlighting for nav and footer
nav, footer {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */


	#link-line {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;

		a {
			text-decoration: none;

			&:not(:last-of-type):after { //
				position: initial;
				display: inline-block;
				content: '|';
				color: #FFF;
				margin: 0 8px;
				font-weight: 500;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transition: top .15s linear;

	z-index: 99999;
	// `main` has margin-top: 110px; so no gap;

	#pre-nav {
		background-color: #000;
    	// background: linear-gradient(to right, $default_red, $secondary_color);
		padding: 4px 0 2px;

		.inner {
			display: flex;
			flex-flow: row nowrap !important;
			justify-content: space-between;
			align-content: center;
			align-items: center;

			p.notice {
				color: #FFF !important;
				font-size: 11px;
				font-weight: 600;
				text-align: center;

				margin: 0;
				width: 100%;

				@media (max-width: 769px) {
					font-size: 9px !important;
					line-height: 9px !important;
				}
			}
		}	
	}

	#main-nav {
		@media (max-width: 769px) {
			.mobile-js-hidden {
				display: none !important;
			}

			.inner {
				.content {
					.logo-container {
						height: 75px !important;
						width: auto !important;
					}
				}
			}
		}

		// background: rgba(0, 0, 0, 0.5); // 0.75
		position: relative;

		.inner {
			display: flex;
			flex-flow: row nowrap !important;
			justify-content: space-between;

			.content {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				width: 100%;

				.left {
					display: flex;
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-items: center;

					// width: 425px;
					width: 100%;

					@media (max-width: 769px) {
						width: 100%;

						display: flex;
						flex-flow: row nowrap;
						justify-content: space-between;
					}
				}

				.logo-container {
					// height: 90px;
					// width: 75px;
					height: 75px;
					width: auto;

					padding: 5px;

					transition: all .15s linear;

					img {
						max-width: 100%;
						max-height: 100%;
						object-fit: contain;

						// padding: 7px 0;
					}
				}

				#nav-links {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-around;
					width: 365px;
					padding: 0 0 0 25px;

					transition: all .15s linear;
					
					a {
						color: #FFF;
						font-weight: 600;
						text-transform: uppercase;
						// padding: 28px 0;
						padding: 0;

						display: flex;
						flex-flow: row wrap;
						align-items: center;

						font-size: 1.1em;

						@media (max-width: 769px) {
							width: 95%;
							margin: 0 auto;
							padding: 15px 0;

							position: relative;

							&:before {
								position: absolute;
								bottom: 0;
								left: -2.5%;
								display: block;
								content: '';
								height: 1.1px;
								width: 100vw;
								margin: 0 auto;
								background-color: rgba(255, 255, 255, 0.5);
							}
						}
					}

					@media (max-width: 769px) {
						position: absolute;
						left: 0;
						right: 0;
						top: 75px;

						max-height: calc(100vh - 102px);
						width: 100%;

						border-top: 1px solid rgba(255, 255, 255, 0.5);
						// border-bottom: 1px solid rgba(255, 255, 255, 0.5); // a tags :before's take care of it
						background: rgba(0, 0, 0, 0.85);
						
						display: flex;
						flex-flow: column;
						
						padding: 0;
						margin: 0;
					}
				}

				.mobile-btns {
					display: flex;
					flex-flow: row nowrap;

					.m-btn {
						display: flex;
						flex-flow: row wrap;
						align-items: center;

						color: #fff;
						font-size: 21px;

						padding: 0 15px;

						cursor: pointer;
					}

					@media (min-width: 769px) {
						display: none;
					}
				}

				.search {
					// height: 90px;
					height: 75px;
					margin: 0; //0 35px 0 50px;
					max-width: 450px;
					width: calc((90% - 30px) - 61px);

					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-content: center;
					align-items: center;

					position: relative;

					@media (max-width: 769px) {
						position: absolute;
						left: 0;
						right: 0;
						top: 75px;
						height: 50px;

						width: 100%;
						max-width: none !important;

						border-top: 1px solid rgba(255, 255, 255, 0.5);
						// border-bottom: 1px solid rgba(255, 255, 255, 0.5); // a tags :before's take care of it
						background: rgba(0, 0, 0, 0.5);
						
						display: flex;
						flex-flow: row nowrap;
						
						padding: 0;
						margin: 0;
					}

					form {
						// border-top-left-radius: 50px;
						// border-bottom-left-radius: 50px;
						border-radius: 10px;
						overflow: hidden;
						width: 100%;
						position: relative;

						min-width: 450px;

						padding: 0 0 0 22px;
						// background-color: #FFF;
						background-color: transparent;
						border: solid 1px #FFF;

						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;

						@media (min-width: 769px) {
							background: rgba(0, 0, 0, 0.4);	
						}

						input[type="text"] {
							border: none;
							// background-color: #ccc;
							height: 40px;
							width: 100%;
							padding: 1px 45px 0 0;
							background-color: transparent;
							color: #fff;
						}

						/* Placeholder text color -- selectors need to be separate to work. */
						input[type="text"]::-webkit-input-placeholder	{ color: #fff; }
						input[type="text"]:-moz-placeholder 			{ color: #fff; }
						input[type="text"]::-moz-placeholder 			{ color: #fff; }
						input[type="text"]:-ms-input-placeholder 		{ color: #fff; }

						i.fa-search {
							color: #fff;
							font-size: 14px;
							position: absolute;
							right: 15px;
							top: calc(50% - 1px);
							transform: translateY(-50%);
						}

						@media (max-width: 769px) {
							max-width: 95%;

							input[type="text"] {
								font-size: 12px;
								height: 35px;
							}
						}
					}



					#ajax-search-results {
						position: absolute;
						
						top: 70px;
						left: 0;
						
						width: 450px;
						max-height: calc(100vh - 102px);
						overflow: hidden;
						
						background-color: rgba(0, 0, 0, .75);
						// border: 1px solid #efefef;
						
						// border-bottom-left-radius: 3px;
						// border-bottom-right-radius: 3px;
						border-radius: 5px;

						display: flex;
						flex-flow: column;
						
						padding: 0;
						margin: 0;

						p.sect-header {
							margin: 0;
							padding: 6px 15px 3px;
							font-weight: 500;
							font-size: 1.1em;
							color: #dc4041;
							background-color: #333;
							position: relative;
						}
						
						a {
							color: #fff !important;
							font-size: 0.95em;
							display: block;
							width: 100%;
							line-height: 14px;

							padding: 7px 15px;

							border-top: none;
							border: 0.5px solid #333;
							border-bottom: none;

							&:last-of-type {
								border-bottom: 0.5px solid #333;
								border-bottom-left-radius: 5px;
								border-bottom-right-radius: 5px;
							}

							// desktop only styles
							@media (min-width: 770px) {
								// &:hover,
								&.active {
									background-color: $default_red;
									color: #FFF;
									// border-color: $default_red;

								}
							}
						}

						@media (max-width: 769px) {
							top: 50px;
							left: 0;
							right: 0;
							min-width: 0;
							max-width: none;
							width: 100% !important;

							max-height: calc(100vh - 174px);

							p.sect-header {
								font-size: 0.95em;
							}

							a {
								font-size: 0.9em;
							}
						}
					}

					@media (max-width: 925px) {
						max-width: 350px;

						form {
							min-width: 350px;
						}

						#ajax-search-results {
							width: 340px;
						}
					}

					@media (max-width: 825px) {
						max-width: 300px;

						form {
							min-width: 300px;
						}

						#ajax-search-results {
							width: 290px;
						}
					}
				}
			}


		}
	}

	&.nav-bg-enabled {
		background-color: #000;
		
		top: 0;
		transition: top .15s linear;

		transition-property: background-color;
		transition-duration: .15s;
		transition-timing-function: linear;
		transition-delay: .15s;
	}

	&:not(.nav-bg-enabled) {
		top: 15px;

		transition-property: background-color;
		transition-duration: 0s;

		transition: top .15s linear;

		#main-nav {
			.inner {
				.content {
					.logo-container {
						height: 85px;

						transition: all .15s linear;
					}

					#nav-links {
						// height: 75px;
						transition: all .15s linear;
					}
				}
			}
		}
	}



}


footer {

	#top-foot {
		background-color: #000;
		display: flex;
		flex-flow: row nowrap;

		padding: 35px 0;

		.inner {
			display: flex;
			flex-flow: column;
			flex-flow: flex-start;

			a, p {
				color: #FFF !important;
			}

			#link-line {
				width: 320px;
				margin: 0 0 10px 0;

				a {
					font-weight: 800;
				}
			}

			p.disclaimer {
				font-size: 10px;
				font-weight: 500;
				line-height: 14px;

				max-width: 500px;
			}

			#payment-logos {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;

				a {
					margin: 0 2px 0 0;
				}

				// formating sectigo seal
				a.sectigo-seal + a {
					// display: ;

					img {
						max-height: 34px;
						margin: 2px 0 0 0;
					}
				}
			}
		}
	}

	#bot-foot {
		background-color: $default_red;
		padding: 7px 0;

		p {
			color: #FFF;
			width: 100%;
			text-align: center;
			font-weight: 800;
			margin: 0;
			padding: 0;
		}
	}
}